extends ../layouts/default-layout.pug

block title
    title Giới thiệu

block main
    +breadcrumb(["home"], "về chúng tôi")

    +section("about", "pb-8 pt-4")
        .container
            p.text-uppercase về chúng tôi
            .about-content.row.py-6
                .about-content__image.col-lg-6.col-md-6.col-sm-6.col-12
                    img.w-100(src="../assets/images/about.png", alt="about-img") 
                .about-content__text.col-lg-6.col-md-6.col-sm-6.col-12
                    +logo
                    p.text-uppercase.font-size-18.py-4.fw-bolder giới thiệu chung về mỹ phẫm handmade mandala 
                    p.font-size-14.pb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    a.font-size-14.text-grey.d-block Xem thêm
