mixin div-price-large(price)
    .div-price    
        span.text-thirsty.fw-bold.font-size-24.text-price= price

mixin div-price-small(price)
    .div-price    
        span.text-primary.text-thirsty.fw-bold.m-0.font-size-18.text-price= price
