mixin pagination 
    .div-paginations.d-flex.align-items-center.align-items-center
        i.fa.fa-caret-left.me-3
        span.me-3 1
        span.me-3 2
        span.me-3 3
        i.fa.fa-caret-right