mixin product-header(component)
    if(component == "product")
        .product-header.d-flex.justify-content-between.align-items-center
            .div-icons.d-flex.align-items-center
                a.hover-primary-dark(href="/product-grid.html")
                    i.fa.fa-th-large.me-3
                a.hover-primary-dark(href="/product-list.html")
                    i.fa.fa-list
            +pagination
    else
        .product-header.d-flex.justify-content-between.align-items-center
            .div-icons.d-flex.align-items-center
                a.hover-primary-dark(href="#")
                    i.fa.fa-th-large.me-3
                a.hover-primary-dark(href="#")
                    i.fa.fa-list
            +pagination
