mixin slideItems(listItem)
    - const { src, alt, brand_name, name, price, url, active } = listItem
        if(active == true)
            .carousel-item.active
                +slideItemContent(src, alt, brand_name, name, price, url)

        else
            .carousel-item
                +slideItemContent(src, alt, brand_name, name, price, url)

mixin slideItemContent(src, alt, brand_name, name, price, url)
    .product-item.col-lg-2.d-inline-block
        .slide-item-img.position-relative
            img.img-fluid(src=src, alt=alt)
        .slide-item-content.text-center.pt-4
            span.font-size-14.text-uppercase.text-grey.m-0.fw-bold= brand_name
            p.text-black.m-0= name
            .d-flex.justify-content-center
                .line-30.my-2.text-center
            +div-price-small(price)
            +purchase(url, "center")
