mixin section(title, box)
    section(class=title class=box id=title)
        block

mixin product-banner
    +section("product-banner")
        img.w-100(src="../assets/images/product/banner-large.png" alt="banner-main")
