extends ./default-layout.pug

block title
    title Sản phẩm
block main
    +breadcrumb(["home"], "sản phẩm")
    +product-banner
    +section("product-content", "py-10")
        .container 
            .row
                +category-list
                .product-grid.col-xl-9.col-lg-12.col-md-12.col-sm-12.col-12
                    +product-header("product")
                    +line
                    block product-theme 
                    +product-header("product")
                    +line
