header {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.11);

    ul.navbar-nav {
        .submenuItem-container {
            padding: 10px;
        }
    }
    ul.list-icon-header {
        order: 3;
    }
}
