.form-contact {
    input {
        height: 40px;
        border: solid 1px $color-line;
        outline: none;
        padding: 0 15px;
    }

    textarea {
        border: solid 1px $color-line;
        outline: none;
        resize: none;
    }
}
