section.banner {
    // background-image: url("../assets/images/banner/banner.png");
    // background-position: center;
    // background-size: cover;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // position: relative;
    // height: 100vh;

    .banner-container {
        .title {
            font-size: 100px;
        }

        .subtitle {
            font-size: 50px;
        }
    }
}

section.services {
    .service-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services-border-right {
        border-right: solid 1px $color-grey;
    }
}

section.static-blog {
    .static-blog-img-large {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .static-blog-item {
        padding-bottom: 100%;

        .static-blog-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .static-blog-item-1 {
            background-color: $background-static-blog-item-1;
            .static-blog-container {
                padding-bottom: 100%;
            }

            .static-blog-container {
                padding-bottom: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: $background-static-blog-item-1;
                background-color: #e3ce33;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .static-blog-item-2 {
            background-color: $background-static-blog-item-2;
            height: 100% !important;

            .static-blog-container {
                padding-bottom: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: $background-static-blog-item-2;
                background-color: #cbd3df;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%) rotate(45deg);
                z-index: 1;
            }
        }

        .static-blog-item-3 {
            background-color: $background-static-blog-item-3;
            position: relative;

            .static-blog-container {
                padding-bottom: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: $background-static-blog-item-3;
                background-color: #88d8da;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%) rotate(45deg);
                z-index: 1;
            }
        }
        .static-blog-item-4 {
            background-color: $background-static-blog-item-4;
            position: relative;
            .static-blog-container {
                padding-bottom: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: $background-static-blog-item-4;
                background-color: #f399c1;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}

section.customer_reviews {
    background-image: url("../assets/images/customer_reviews/banner.png");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .customer_reviews-items {
        .content-images {
            width: 60px;
            position: relative;
            height: 60px;

            .img-customer-reviews-size {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            &::before {
                content: "";
                position: absolute;
                height: 80px;
                width: 80px;
                top: 50%;
                border-radius: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: solid 2px $color-black;
            }
        }
    }
}

section.product-list {
    background-image: url("../assets/images/images-slide/banner.png");
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    .category-items {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        @include responsive("medium") {
            &::before {
                content: "";
                background-color: $color-black;
                height: 5px;
                width: 5px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                margin-left: 20px;
            }
        }
        p {
            @include responsive("medium") {
                padding-left: 20px;
            }
        }
    }

    .carousel {
        .carousel-inner {
            .carousel-item {
                .product-item {
                    &:hover {
                        .slide-item-content {
                            .slide-item-cart {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                    .slide-item-content {
                        .slide-item-cart {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .categories-items-has-icon {
        position: relative;
        &::before {
            content: "";
            background-color: $color-black;
            height: 5px;
            width: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}

section.sna-footer {
    .form-email {
        padding: 15px;
        background-color: $backgrund-form-email;
    }
}
