section.product-detail {
    .main-img {
        width: 100%;
        object-fit: cover;
    }

    .img-thumbnail-icon {
        width: 100%;
        padding-bottom: 100%;
    }

    .img-thumbnail-icon-above::after {
        content: "\f176";
        font-family: fontawesome;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .img-thumbnail-icon-bellow::after {
        content: "\f175";
        font-family: fontawesome;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .div-img-thumbnail-main {
        border: solid 1px $color-line;
        cursor: pointer;
    }

    .div-img-thumbnail {
        cursor: pointer;
    }
}

section.details {
    .selling-products {
        @include responsive("medium") {
            display: none;
        }
    }
    .details-header {
        @include responsive("medium") {
            overflow-x: scroll;
            overflow: scroll;
            overflow-y: hidden;
            width: 300px;
            white-space: nowrap;
        }
        
    }

    .details-header::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

    .details-content-1 {
        .details-content-image-even {
            order: 2;
            @include responsive("medium") {
                order: 1;
            }
        }
        .details-content-text-even {
            order: 1;
            @include responsive("medium") {
                order: 2;
            }
        }
        img {
            width: 100%;
            @include responsive("medium") {
                width: 60%;
            }
        }
    }
}
