-
    const blogItems = [
        {
            imgURL: '../assets/images/blog/blog-img-1.png',
            alt: 'blog-img-1',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-2.png',
            alt: 'blog-img-2',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-3.png',
            alt: 'blog-img-3',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-4.png',
            alt: 'blog-img-4',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-5.png',
            alt: 'blog-img-5',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-6.png',
            alt: 'blog-img-6',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-7.png',
            alt: 'blog-img-7',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-8.png',
            alt: 'blog-img-8',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        },
        {
            imgURL: '../assets/images/blog/blog-img-9.png',
            alt: 'blog-img-9',
            title: 'review son kem bourjours velvet',
            description: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.',
            author: 'nam tran',
            datetime: '25/05/2015',
            comments: 23,
            url: './blog-details.html'
        }
    ]
