-
    const breadcrumbItems = [
        {
            name: 'home',
            url: '/'
        },
        {
            name: 'về chúng tôi',
            url: '/about'
        },
        {
            name: 'sản phẩm',
            url: '/product-list'
        },
        {
            name: 'chi tiết sản phẩm',
            url: '/product-details'
        },        
        {
            name: 'blog',
            url: '/blog'
        },
        {
            name: 'blog detail',
            url: '/blog-details'
        },
        {
            name: 'liên hệ',
            url: '/contact'
        },
        {
            name: 'tài khoản',
            url: '/account'
        },
        {
            name: 'đăng ký',
            url: '/signup'
        },
        {
            name: 'đăng nhập',
            url: '/signin'
        },
        {
            name: 'giỏ hàng',
            url: '/cart'
        }
    ]
