-
    const breadcrumbItems = [
        {
            name: 'Trang chủ',
            url: '/'
        },
        {
            name: 'Giới thiệu',
            url: '/gioi-thieu'
        },
        {
            name: 'Sản phẩm',
            url: '/san-pham'
        },
        {
            name: 'Tin tức',
            url: '/tin-tuc'
        },
        {
            name: 'Bản đồ',
            url: '/ban-do'
        },
        {
            name: 'Liên hệ',
            url: '/lien-he'
        },
    ]