-
    const cartItems = [
        {
            imgUrl: '../assets/images/cart-img.jpg',
            name: 'Áo sơ mi nam',
            price: '120.000',
            alt: 'cart-img'
        },       
        {
            imgUrl: '../assets/images/cart-img.jpg',
            name: 'Áo sơ mi nam',
            price: '120.000',
            alt: 'cart-img'
        }       
    ]
