-
    const categoryItems = [
        {
            title: 'Mỹ phẩm',
            hasIcon: true
        },       
        {
            title: 'Chăm sóc da',
            hasIcon: true
        },       
        {
            title: 'Dành cho tóc',
            hasIcon: true
        },       
        {
            title: 'Nước hoa',
            hasIcon: true
        },       
        {
            title: 'Trang sức',
            hasIcon: true
        },       
        {
            title: 'Quà tặng',
            hasIcon: false
        },       
    ]
