-
    const customerReviewItems = [
        {
            imgUrl: '../assets/images/customer_reviews/img-1.png',
            alt: 'img-customer_reviews-1',
            content: 'Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kì lạ với những ai cầm trên tay sản phẩm ấy! Với xông nghệ cải tiến mới nhất, hãng Rohto',
            author: 'Giám đốc phát triển nhân sự',
            brand: "tutile",
            active: true
        },  
        {
            imgUrl: '../assets/images/customer_reviews/img-2.png',
            alt: 'img-customer_reviews-1',
            content: 'Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kì lạ với những ai cầm trên tay sản phẩm ấy! Với xông nghệ cải tiến mới nhất, hãng Rohto',
            author: 'Giám đốc phát triển ahihi',
            brand: "tutile",
            active: false
        }
    ]
