-
    const detailsContentItems = [
        {
            title: 'the mark of a legend',
            description: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.',
            imageURL: '../assets/images/product-detail/details-4.png',
            alt: 'image-details-content',
            key: 1
        },       
        {
            title: 'the mark of a legend',
            description: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.',
            imageURL: '../assets/images/product-detail/details-3.png',
            alt: 'image-details-content',
            key: 2
        },       
        {
            title: 'the mark of a legend',
            description: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.',
            imageURL: '../assets/images/product-detail/details-2.png',
            alt: 'image-details-content',
            key: 3
        },       
        {
            title: 'the mark of a legend',
            description: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.',
            imageURL: '../assets/images/product-detail/details-1.png',
            alt: 'image-details-content',
            key: 4
        }     
    ]
