-
    const footerPaymentItems = [
        {
            url: '/',
            src: '../assets/images/payment-images/visa.png',
            alt: 'visa_logo'
        },
        {
            url: '/',
            src: '../assets/images/payment-images/mastercard.png',
            alt: 'mastercard_logo'
        },
        {
            url: '/',
            src: '../assets/images/payment-images/paypal.png',
            alt: 'paypal_logo'
        },
        {
            url: '/',
            src: '../assets/images/payment-images/maestro.png',
            alt: 'maestro_logo'
        }        
    ]
