-
    const footerItems = [
        {
            title: 'Chuyển hàng',
            listFooterItems: [
                {
                    name: "Mua sắm trực tuyến",
                    url: "/mua-sam-truc-tuyen"
                },
                {
                    name: "Đến từ chúng tôi gửi đến",
                    url: "/den-tu-chung-toi-gui-den"
                },
                {
                    name: "Chính sách vận chuyển",
                    url: "/chinh-sach-van-chuyen"
                },
                {
                    name: "Vận chuyển thông tin",
                    url: "/van-chuyen-thong-tin"
                },
            ]
        },
        {
            title: 'Hỗ trợ',
            listFooterItems: [
                {
                    name: "Câu chuyện của chúng ta",
                    url: "/cau-chuyen-cua-chung-ta"
                },
                {
                    name: "Thanh toán an toàn",
                    url: "/thanh-toan-an-toan"
                },
                {
                    name: "Tùy chọn vận chuyển",
                    url: "/tuy-chon-van-chuyen"
                },
                {
                    name: "Chính sách vận chuyển",
                    url: "/chinh-sach-van-chuyen"
                },
            ]
        },
        {
            title: 'Thông tin',
            listFooterItems: [
                {
                    name: "Về chúng tôi",
                    url: "/mua-sam-truc-tuyen"
                },
                {
                    name: "Điều khoản & điều kiện",
                    url: "/den-tu-chung-toi-gui-den"
                },
                {
                    name: "Chính sách riêng tư",
                    url: "/chinh-sach-van-chuyen"
                },
                {
                    name: "Đơn đặt hàng & returns",
                    url: "/don-dat-hang-returns"
                },
            ]
        },
        {
            title: "My Account",
            listFooterItems: [
                {
                    name: "Xem giỏ hàng",
                    url: "/xem-gio-hang"
                },
                {
                    name: "Sản phẩm yêu thích",
                    url: "/san-pham-yeu-thich"
                },
                {
                    name: "Kiểm tra",
                    url: "/kiem tra"
                },
                {
                    name: "Theo dõi đặt hàng của tôi",
                    url: "/theo-doi-dat-hang-cua-toi"
                },
            ]
        }
              
    ]