-
    const listCategories = [
        {
            title: "mỹ phẩm",
            id: 'my_pham',
            listCategoryItems: [
                "vòng tay",
                "nhẫn",
                "lắc chân",
                "phụ kiện khác",
                "giày lười giày mọi" 
            ]
        },      
        {
            title: "trang sức",
            id: 'trang_suc',
            listCategoryItems: [
                "vòng tay",
                "nhẫn",
                "lắc chân",
                "phụ kiện khác",
                "giày lười giày mọi" 
            ]
        },      
        {
            title: "phụ kiện",
            id: 'phu_kien',
            listCategoryItems: [
                "vòng tay",
                "nhẫn",
                "lắc chân",
                "phụ kiện khác",
                "giày lười giày mọi" 
            ]
        },      
        {
            title: "nước hoa",
            id: 'nuoc_hoa',
            listCategoryItems: [
                "vòng tay",
                "nhẫn",
                "lắc chân",
                "phụ kiện khác",
                "giày lười giày mọi" 
            ]
        }      
    ]
