-
    const navbarItems = [
        {
            url: '/',
            name: 'Trang chủ'
        },
        {
            url: '/gioi-thieu',
            name: 'Giới thiệu'
        },
        {
            url: '/san-pham',
            name: 'Sản phẩm',
            hasSubmenu: true,
            submenuItems: [
                {
                    name: "Dưỡng da",
                    listMenuItems: [
                        {
                            name: "Áo khoác",
                            url: "ao-khoac"
                        },
                        {
                            name: "Bộ áo liền quần",
                            url: "bo-ao-lien-quan"
                        },
                        {
                            name: "Dresses",
                            url: "dresses"
                        },
                        {
                            name: "Quần / Váy",
                            url: "quan-vay"
                        },
                        {
                            name: "Quần short",
                            url: "quan-short"
                        },
                        {
                            name: "Quần jeans",
                            url: "quan-jeans"
                        },
                        {
                            name: "Đồ đan",
                            url: "do-dan"
                        },
                        {
                            name: "Áo nỉ",
                            url: "ao-ni"
                        }
                    ]
                },
                {
                    name: "Nước hoa",
                    listMenuItems: [
                        {
                            name: "Áo cánh / Áo sơ mi",
                            url: "ao-canh-ao-so-mi"
                        },
                        {
                            name: "Túi xách & Balo",
                            url: "tui-xach-balo"
                        },
                        {
                            name: "Khăn quàng cổ & Fourlands",
                            url: "khan-quang-co-fourlands"
                        },
                        {
                            name: "Dệt kim Hats & Gloves",
                            url: "det-kim-hats-gloves"
                        },
                        {
                            name: "Vớ & Socks",
                            url: "vo-socks"
                        },
                        {
                            name: "Jewelry",
                            url: "jewelry"
                        },
                        {
                            name: "Bị bảo vệ",
                            url: "bi-bao-ve"
                        },
                        {
                            name: "Giày",
                            url: "giay"
                        }
                    ]
                },
                {
                    name: "Trang sức",
                    listMenuItems: [
                        {
                            name: "Áo cánh / Áo sơ mi",
                            url: "ao-canh-ao-so-mi"
                        },
                        {
                            name: "Túi xách & Balo",
                            url: "tui-xach-balo"
                        },
                        {
                            name: "Khăn quàng cổ & Fourlands",
                            url: "khan-quang-co-fourlands"
                        },
                        {
                            name: "Dệt kim Hats & Gloves",
                            url: "det-kim-hats-gloves"
                        },
                        {
                            name: "Vớ & Socks",
                            url: "vo-socks"
                        },
                        {
                            name: "Jewelry",
                            url: "jewelry"
                        },
                        {
                            name: "Bị bảo vệ",
                            url: "bi-bao-ve"
                        },
                        {
                            name: "Giày",
                            url: "giay"
                        }
                    ]
                }
            ]
        },
        {
            url: '/tin-tuc',
            name: 'Tin tức'
        },
        {
            url: '/ban-do',
            name: 'Bản đồ'
        },
        {
            url: '/lien-he',
            name: 'Liên hệ'
        }
    ]