-
    const productItems = [
        {
            src: '../assets/images/images-slide/img-1.png',
            alt: 'image slide 1',
            brand_name: 'home',
            name: 'Mỹ phẩm châu Âu',
            rates: 4,
            solds: 12,
            description: "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.",
            price: '355.000 đ'
        },
        {
            src: '../assets/images/images-slide/img-2.png',
            alt: 'image slide 1',
            brand_name: 'home',
            name: 'Mỹ phẩm châu Âu',
            rates: 4,
            solds: 12,
            description: "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.",
            price: '355.000 đ'
        },
        {
            src: '../assets/images/images-slide/img-3.png',
            alt: 'image slide 1',
            brand_name: 'home',
            name: 'Mỹ phẩm châu Âu',
            rates: 4,
            solds: 12,
            description: "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.",
            price: '355.000 đ'
        },
        {
            src: '../assets/images/images-slide/img-4.png',
            alt: 'image slide 1',
            brand_name: 'home',
            name: 'Mỹ phẩm châu Âu',
            rates: 4,
            solds: 12,
            description: "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.",
            price: '355.000 đ'
        },
        {
            src: '../assets/images/images-slide/img-5.png',
            alt: 'image slide 1',
            brand_name: 'home',
            name: 'Mỹ phẩm châu Âu',
            rates: 4,
            solds: 12,
            description: "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.",
            price: '355.000 đ'
        },
        {
            src: '../assets/images/images-slide/img-6.png',
            alt: 'image slide 1',
            brand_name: 'home',
            name: 'Mỹ phẩm châu Âu',
            rates: 4,
            solds: 12,
            description: "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.",
            price: '355.000 đ'
        }      
    ]
