- 
    const serviceItems = [
        {
            icon: 'fa-plane',
            text: 'Miễn phí vận chuyển',
            border: true
        },
        {
            icon: 'fa-gift',
            text: 'Nhận ngay quà tặng trị giá 350.000 đ',
            border: true
        },
        {
            icon: 'fa-star',
            text: 'Giảm 30% cho đơn hàng trên 5.000.000 đ',
            border: false
        }
    ]
