-
    const serviceItems = [
        {
            icon: 'plane',
            text: 'Miễn phí vận chuyển trên toàn quốc',
            border: true
        },      
        {
            icon: 'gift',
            text: 'Nhận ngay quà tặng trị giá 350.000 đ',
            border: true
        },      
        {
            icon: 'star',
            text: 'Giảm 30% cho đơn hàng trên 5.000.000 đ',
            border: false
        }
    ]
