-
    const shoppingCartItems = [
        {
            imgURL: "../assets/images/cart/img-cart.png",
            name: 'Lắc tay D&G',
            price: "345.000",
            alt: 'img-shoppingcart'
        },      
        {
            imgURL: "../assets/images/cart/img-cart.png",
            name: 'Lắc tay D&G',
            price: "345.000",
            alt: 'img-shoppingcart'
        }  
    ]
