-
    const slideItems = [
        {
            active: true,
            listItems: [
                {
                    src: '../assets/images/images-slide/img-1.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html',

                },
                {
                    src: '../assets/images/images-slide/img-2.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-3.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },        
                {
                    src: '../assets/images/images-slide/img-4.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-5.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-6.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                }
            ]        
        },
        {
            active: false,
            listItems: [
                {
                    src: '../assets/images/images-slide/img-2.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html',

                },
                {
                    src: '../assets/images/images-slide/img-4.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-5.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },        
                {
                    src: '../assets/images/images-slide/img-6.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-7.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-8.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                }
            ]        
        },
        {
            active: false,
            listItems: [
                {
                    src: '../assets/images/images-slide/img-8.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html',

                },
                {
                    src: '../assets/images/images-slide/img-3.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-4.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },        
                {
                    src: '../assets/images/images-slide/img-5.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-8.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                },
                {
                    src: '../assets/images/images-slide/img-6.png',
                    alt: 'image slide 1',
                    brand_name: 'home',
                    name: 'Mỹ phẩm châu Âu',
                    price: '355.000',
                    url: './product-details.html'
                }
            ]        
        }        
    ]
