-
    const socialItems = [
        {
            icon: 'fa-facebook',
            name: 'facebook'
        },
        {
            icon: 'fa-twitter',
            name: 'twitter'
        },
        {
            icon: 'fa-instagram',
            name: 'instagram'
        },
        {
            icon: 'fa-google',
            name: 'google'
        },
        {
            icon: 'fa-linkedin',
            name: 'linkedin'
        },
        {
            icon: 'fa-pinterest',
            name: 'pinterest'
        }
    ]
