-
    const transactionDetailItems = [
        {
            orderId: '#1006',
            date: 'May 13, 2003',
            paymentStatus: 'Đã thanh toán',
            total: '350.000',
            owe: '0'
        },
        {
            orderId: '#1006',
            date: 'May 13, 2003',
            paymentStatus: 'Đã thanh toán',
            total: '350.000',
            owe: '0'
        },
        {
            orderId: '#1006',
            date: 'May 13, 2003',
            paymentStatus: 'Đã thanh toán',
            total: '350.000',
            owe: '0'
        },
        {
            orderId: '#1006',
            date: 'May 13, 2003',
            paymentStatus: 'Thanh toán 50%',
            total: '350.000',
            owe: '275.000'
        }
    ]
