.newsletter-popup_label {
    position: fixed;
    top: 10%;
    cursor: pointer;
    left: 50%;
    z-index: 99999;
    transform: translateY(-50%);
}

.newsletter_popup_input {
    display: none;
}

input[type="checkbox"]:checked ~ .newsletter-popup {
    display: none;
}

input[type="checkbox"]:checked ~ .newsletter-popup_label {
    display: none;
}

.newsletter-popup_label::before {
    content: "\f00d";
    position: absolute;
    font-family: fontawesome;
    color: $color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.newsletter_popup {
    .newsletter-popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.5);
        .newsletter-popup-container {
            position: fixed;
            .newsletter-popup-image {
                width: 100%;
            }

            .newsletter-popup-content {
                form {
                    input {
                        height: 40px;
                        border: solid 1px $color-line;
                        outline: none;
                        padding: 0 15px;
                        border-radius: 25px;
                    }
                }
                a {
                    cursor: pointer;
                }
            }
        }
    }
}
