.product-item {
    .slide-item-img {
        height: 300px;
        img {
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 80%;
        }
    }
}
