@mixin hover-primary($color) {
    color: $color;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        color: $color-primary;
    }
}

@mixin font-size($font-size) {
    font-size: $font-size !important;
}

@mixin responsive($breakpoint) {
    @if($breakpoint == "extra-small") {
        @media (min-width: $extra-small-width) {
            @content;
        }
    }

    @if($breakpoint == "small") {
        @media (max-width: $small-width) {
            @content;
        }
    }
    @if($breakpoint == "medium") {
        @media (max-width: $medium-width) {
            @content;
        }
    }
    @if($breakpoint == "large") {
        @media (max-width: $large-width - 1px) {
            @content;
        }
    }

    @if($breakpoint == "extra-large") {
        @media (min-width: $extra-largep-width) {
            @content;
        }
    }
}
