@include responsive("small") {
    footer {
        .footer-below-container {
            flex-direction: column;
        }
    }
}

@include responsive("medium-width") {
    header {
        ul.list-icon-header {
            order: 0 !important;
            margin-left: auto !important;
        }
    }

    .border-primary {
        border: none !important;
        position: relative !important;
        &::before {
            content: none;
        }
    }

    .navbar {
        .navbar-toggler {
            margin-left: unset !important;
        }
    }
}
