@include responsive("small") {
    footer {
        .footer-below-container {
            flex-direction: column;
        }
    }
}

@include responsive("extra-medium") {
    .list-icon-header {
        order: 2;
        margin-left: auto;
    }
    .navbar-toggler {
        order: 3;
        @include responsive("extra-medium") {
            margin-left: 0 !important;
        }
    }
    .border-primary {
        border: none !important;
        position: relative !important;
        &::before {
            content: none;
        }
    }
}
