$color-primary: #779529;
$color-black: #000000;
$color-white: #ffffff;
$color-muted: #869ab8;
$color-grey: #808080;

$font-size-14: 14px;
$font-size-16: 16px;

$mobile-width: 425px;
$tablet-width: 768px;
$header-width: 993px;
$desktop-width: 1024px;